{% block content %}
<div
  class="modal fade"
  id="signupModal"
  tabindex="-1"
  aria-labelledby="signupModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalLabel">Crear Cuenta</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          hx-post="{% url 'signupModal' %}"
          hx-target="#signupContainer"
          hx-swap="innerHTML"
        >
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn btn-primary w-100">
            Crear Cuenta
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
